html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* background-color: #0084b4 */
}


.position-fixed {
  position: fixed !important;
}

.left-0 {
  left: 0px !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.right-0 {
  right: 0 !important;
}

.center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 15rem;
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputD {
  height: 50px;
  background: #ECECEC;
  border-radius: 30px;
  border-color: #ECECEC;
  border: #ECECEC;
  padding: 20px;
  width: 100%;
  margin: 0.2rem
}

.buttonD {
  height: 35px;
  background: #0099fe;
  box-shadow: 0px 2px 4px rgb(251 111 187 / 30%);
  border-radius: 30px;
  border: #0099fe;
  color: white;
  width: 100%;
  margin: 0.2rem
}

.center{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}


.card{
width: 840px;
height: 910px;
/* left: 355px;
top: 374px; */

background: #FFFFFF;
box-shadow: 0px -4px 4px rgba(202, 200, 200, 0.25), 0px 4px 4px rgba(202, 200, 200, 0.25);
border-radius: 16px;
}


.center{
  display: flex !important;
  align-items: center !important;
justify-content: center !important;
margin-top: 0px;
}

.card-img{
  
    width: 365px;
    height: 435px;
    margin-left: 45px;
    border-radius: 4px;
    margin-top: 30px;

}

.card_img{
  width: 365px;
  height: 435px;
  margin-right: 45px;
  border-radius: 4px;
  margin-top: -10px;
}

.card--img{
  
    width: 365px;
    height: 351px;
    margin-right: 45px;
    border-radius: 4px;

}

.p{
  /* position: absolute; */
  width: 100px;
  height: 24px;
  left: 765px;
  top: 111px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(5, 5, 5, 0.5);


color: rgba(5, 5, 5, 0.5);
}

.imgs_alings{
  display: flex;
  align-items: center;
  justify-content: space-between;
}